# Geração de séries

**Resumo:** 
Uma série na linguagem de programação python nada mais é que um array (encadeado) de elementos de diversos tipos que podem ser números ou palavras/caracteres.Séries podem ser criadas a partir de dicionários e listas que são tipos de estruturas de dados nessa linguaguem. Cada um dos elementos que compõem a lista podem ser refenciados por índices ou rótulos.Este conceito é útil pois quando possuímos um grande registro ao longo do tempo, precisamos achar formas de organizá-los e acessar informações como por exemplo identificar repetições, se uma informação específica está contida dentro da série, valores nulos.

Para facilitar a manipulação de série existe a biblioteca pandas no python:

In [ ]:
# instalando a bibloteca pandas
! pip install pandas

In [5]:
#importando a bibloteca pandas
import pandas as pd

## Estrutura de dados

Um dicionário é um conjunto de chave valor:

In [10]:
dic={'a':2,'b':4,'c':6}

In [8]:
print(dic)

{'a': 2, 'b': 4, 'c': 6}

Uma lista é um conjunto de valores ordenados e mutáveis. Exemplo:

In [1]:
lista=[3,6,'gato', 'cachorro']

In [2]:
print(lista)

[3, 6, 'gato', 'cachorro']

## Séries a partir de listas e dicionarios

In [18]:
# series a partir de dicionarios
pd.Series(dic)

a    2
b    4
c    6
dtype: int64

In [19]:
#series a partir de listas
alunos=['Livia','Gabriel','Enzo','Valentina']
notas=[9,5,8.5,7]
serie_lista=pd.Series(notas, alunos)
print(serie_lista)

Livia        9.0
Gabriel      5.0
Enzo         8.5
Valentina    7.0
dtype: float64

## Localizando informações

In [21]:
# identificando um elemento da lista através de um rótulo
serie_lista.loc['Livia']

np.float64(9.0)

In [23]:
# identificando um elemento através do índice
serie_lista.iloc[1]

np.float64(5.0)

In [ ]:
# identificando um elemento através do índice
serie_lista[1]

In [25]:
#verifica se um elemento está contido na série

"joao" in serie_lista

False

## Qual a diferença entre Serie e Dataframes?

A biblioteca pandas trabalha com a manipulação de dados no Python, mais em específico com Series e Dataframes.  

* Series são unidimensionais e possuem índices.  
* Dataframes são tabelas como as do excel que podem ser compostas por várias colunas de Series.

In [28]:
# criando um dicionario a partir de series

escola={'1 trimestre':pd.Series([10,6.7,8,4.6],index=['João','Patrícia','Lucas','Geovana']),
        '2 trimestre': pd.Series([7,8.9,7.6,10,7.4],index=['João','Patrícia','Lucas','Geovana','Helena'])}

In [ ]:
#transformando o dicionario em dataframe:
df=pd.DataFrame(escola)

In [30]:
display(df)

          1 trimestre  2 trimestre
Geovana           4.6         10.0
Helena            NaN          7.4
João             10.0          7.0
Lucas             8.0          7.6
Patrícia          6.7          8.9

In [31]:
df.index

Index(['Geovana', 'Helena', 'João', 'Lucas', 'Patrícia'], dtype='object')

In [32]:
df.columns

Index(['1 trimestre', '2 trimestre'], dtype='object')

In [33]:
df['1 trimestre']

Geovana      4.6
Helena       NaN
João        10.0
Lucas        8.0
Patrícia     6.7
Name: 1 trimestre, dtype: float64

In [34]:
df['2 trimestre']

Geovana     10.0
Helena       7.4
João         7.0
Lucas        7.6
Patrícia     8.9
Name: 2 trimestre, dtype: float64